# Preparing Data

In [7]:
import json
import pandas as pd
import numpy as np
from utils import *

In [3]:
coarse_train = pd.read_csv('data/preprocessed/nli_coarse_train.csv')
coarse_train['total'] = coarse_train.apply(lambda x: sum([int(y) for y in string_of_list_to_list(x['label_count'])]), axis=1)

In [11]:
coarse_train[coarse_train['total']==5]

,annotator_labels,gold_label,captionID,pairID,premise,hypothesis,label_count,label_dist,total
0,"['entailment', 'entailment', 'entailment', 'en...",entailment,3612249030.jpg#1,3612249030.jpg#1r1e,A boy is carrying a black body board across th...,The boy is holding an item.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
1,"['entailment', 'entailment', 'entailment', 'en...",entailment,3084011028.jpg#1,3084011028.jpg#1r1e,Two women with long hair posing for a picture,Two women near a camera.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
2,"['contradiction', 'contradiction', 'contradict...",contradiction,3626964430.jpg#4,3626964430.jpg#4r1c,People playing cricket on a field.,players play football,"[0, 0, 5]","[0.0, 0.0, 1.0]",5
3,"['neutral', 'neutral', 'neutral', 'neutral', '...",neutral,2230260635.jpg#3,2230260635.jpg#3r1n,A person crouches under a yellow umbrella on t...,The person seeks shelter from the rain.,"[0, 5, 0]","[0.0, 1.0, 0.0]",5
4,"['entailment', 'entailment', 'entailment', 'en...",entailment,2575233295.jpg#2,2575233295.jpg#2r1e,A group of men sitting on the floor of a windo...,A group sits on the floor.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
...,...,...,...,...,...,...,...,...,...
54268,"['contradiction', 'contradiction', 'neutral', ...",contradiction,NaN,45012c,Complacency came easily after a couple of week...,We stayed vigilant.,"[0, 1, 4]","[0.0, 0.2, 0.8]",5
54269,"['entailment', 'contradiction', 'entailment', ...",entailment,6892893152.jpg#2,6892893152.jpg#2r1e,A young boy swings a hula hoop while other chi...,A young boy swings,"[3, 0, 2]","[0.6, 0.0, 0.4]",5
54270,"['entailment', 'entailment', 'entailment', 'en...",entailment,3421928157.jpg#4,3421928157.jpg#4r1e,Two rafts overturn in a river.,Some raft get knocked over in a body of water.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
54271,"['contradiction', 'contradiction', 'contradict...",contradiction,3801083035.jpg#4,3801083035.jpg#4r1c,A person playing on a rope swing.,the person went sled riding,"[0, 0, 5]","[0.0, 0.0, 1.0]",5
54272,"['entailment', 'entailment', 'entailment', 'en...",entailment,3856967640.jpg#4,3856967640.jpg#4r1e,Woman smiling while holding a book and yellow ...,the woman holding book and yellow paper star w...,"[5, 0, 0]","[1.0, 0.0, 0.0]",5

In [13]:
coarse_val = pd.read_csv('data/preprocessed/nli_coarse_val.csv')
coarse_val['total'] = coarse_val.apply(lambda x: sum([int(y) for y in string_of_list_to_list(x['label_count'])]), axis=1)

In [14]:
coarse_val[coarse_val['total']==5]

,annotator_labels,gold_label,captionID,pairID,premise,hypothesis,label_count,label_dist,total
1,"['contradiction', 'contradiction', 'contradict...",contradiction,4552688825.jpg#0,4552688825.jpg#0r1c,A group of performers stands in front of a whi...,An audience throws tomatoes at the performers,"[0, 0, 5]","[0.0, 0.0, 1.0]",5
2,"['entailment', 'entailment', 'entailment', 'en...",entailment,4947861901.jpg#3,4947861901.jpg#3r1e,A mother pushing a stroller and holding the ha...,A mother is walking with a child.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
3,"['entailment', 'entailment', 'entailment', 'en...",entailment,7682350138.jpg#3,7682350138.jpg#3r1e,"An oriental woman in glasses, shooting archery.",A woman wears glasses.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
4,"['entailment', 'entailment', 'entailment', 'en...",entailment,2805576776.jpg#0,2805576776.jpg#0r1e,People lounging in purple blow up chairs and o...,The people are outside.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
5,"['entailment', 'entailment', 'entailment', 'en...",entailment,4645676225.jpg#2,4645676225.jpg#2r1e,"A worker, wearing rain gear, sweeps debris out...",A worker sweeps the street.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
...,...,...,...,...,...,...,...,...,...
13564,"['entailment', 'entailment', 'entailment', 'en...",entailment,2319175397.jpg#0,2319175397.jpg#0r1e,Two white dogs running and playing in a snow c...,Animals are running outside.,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
13565,"['neutral', 'neutral', 'contradiction', 'neutr...",neutral,NaN,98689n,couple of years ago i was thinking about movin...,I may move to New Hampshire.,"[0, 4, 1]","[0.0, 0.8, 0.2]",5
13566,"['entailment', 'entailment', 'entailment', 'en...",entailment,NaN,47109e,you know even even into major things just to k...,I have never been able to trade my car off eve...,"[5, 0, 0]","[1.0, 0.0, 0.0]",5
13567,"['contradiction', 'contradiction', 'contradict...",contradiction,4022843226.jpg#3,4022843226.jpg#3r1c,Six people appearing to be planting something ...,Six people are at the movies.,"[0, 0, 5]","[0.0, 0.0, 1.0]",5
13568,"['neutral', 'neutral', 'neutral', 'contradicti...",neutral,2916012955.jpg#4,2916012955.jpg#4r1n,Five people standing by a gate.,Five fat people standing by a gate.,"[0, 4, 1]","[0.0, 0.8, 0.2]",5

In [17]:
pd.read_csv('data/preprocessed/chaos_test.csv')

,uid,label_counter,majority_label,label_dist,label_count,entropy,example,old_label,old_labels,premise,hypothesis
0,4464415997.jpg#1r1c,"{'c': 52, 'n': 48}",c,"[0.0, 0.48, 0.52]","[0, 48, 52]",0.998846,"{'uid': '4464415997.jpg#1r1c', 'premise': 'A f...",c,"['contradiction', 'contradiction', 'contradict...",A few people walking in the distance of a smal...,There are people bombing the town
1,89068n,"{'e': 68, 'n': 30, 'c': 2}",e,"[0.68, 0.30000000000000004, 0.02]","[68, 30, 2]",1.012314,"{'uid': '89068n', 'premise': 'To see how The B...",n,"['neutral', 'entailment', 'neutral', 'neutral'...",To see how The Bell Curve tries and fails to g...,The Bell Curve tries to get around these probl...
2,2021602343.jpg#2r1e,"{'e': 69, 'n': 24, 'c': 7}",e,"[0.6900000000000001, 0.24, 0.07]","[69, 24, 7]",1.132068,"{'uid': '2021602343.jpg#2r1e', 'premise': 'A b...",e,"['entailment', 'neutral', 'entailment', 'contr...",A boy with a basketballs glowers at the camera.,The boy scowls
3,237424188.jpg#0r1n,"{'n': 75, 'c': 25}",n,"[0.0, 0.75, 0.25]","[0, 75, 25]",0.811278,"{'uid': '237424188.jpg#0r1n', 'premise': 'A gi...",n,"['neutral', 'contradiction', 'contradiction', ...",A girl wearing a red shirt and jeans is sittin...,two girls talking about boys
4,3006443200.jpg#1r1n,"{'n': 70, 'e': 27, 'c': 3}",n,"[0.27, 0.7000000000000001, 0.03]","[27, 70, 3]",1.021990,"{'uid': '3006443200.jpg#1r1n', 'premise': 'A p...",n,"['neutral', 'entailment', 'neutral', 'neutral'...",A person wearing a robe and a pointed hat is h...,A man has some bananas.
...,...,...,...,...,...,...,...,...,...,...,...
307,105769e,"{'n': 25, 'e': 71, 'c': 4}",e,"[0.71, 0.25, 0.04]","[71, 25, 4]",1.036572,"{'uid': '105769e', 'premise': 'yeah yeah i i w...",n,"['entailment', 'neutral', 'neutral', 'entailme...",yeah yeah i i went i went off to school wantin...,I was going to major in algebra or french but ...
308,2814952319.jpg#0r1n,"{'n': 95, 'c': 5}",n,"[0.0, 0.9500000000000001, 0.05]","[0, 95, 5]",0.286397,"{'uid': '2814952319.jpg#0r1n', 'premise': 'Nin...",n,"['neutral', 'neutral', 'contradiction', 'contr...",Nine women in white robes with hoods walk on p...,The women are wearing flip flops.
309,21297n,"{'n': 74, 'c': 2, 'e': 24}",n,"[0.24, 0.74, 0.02]","[24, 74, 2]",0.928470,"{'uid': '21297n', 'premise': 'He was crying li...",n,"['neutral', 'neutral', 'entailment', 'neutral'...",He was crying like his mother had just wallope...,He was crying like his mother hit him with a s...
310,11971n,"{'e': 52, 'n': 44, 'c': 4}",e,"[0.52, 0.44, 0.04]","[52, 44, 4]",1.197478,"{'uid': '11971n', 'premise': 'In a six-year st...",e,"['neutral', 'neutral', 'entailment', 'entailme...","In a six-year study, scientists fed dogs and o...",Scientists gave animals irradiated chicken and...
311,56320c,"{'c': 42, 'n': 42, 'e': 16}",c,"[0.16, 0.42, 0.42]","[16, 42, 42]",1.474310,"{'uid': '56320c', 'premise': 'For big Raj-buff...",c,"['contradiction', 'contradiction', 'contradict...","For big Raj-buffs, the supreme example of Indo...",The Victoria Terminus is still the main depart...

In [69]:
def count_labels(labels):
    e = 0
    n = 0
    c = 0
    for l in labels:
        if l == 'entailment':
            e += 1
        elif l == 'neutral':
            n += 1
        elif l == 'contradiction':
            c += 1
        elif l == '':
            continue
        else:
            raise Exception('Label error')
    return [e, n, c]  

def label_counts_to_dist(counts):
    a = np.array(counts)
    dist = a / np.sum(a)
    return dist.tolist()

In [3]:
snli = pd.read_csv('data/preprocessed/snli_full.csv')
snli.head()

,annotator_labels,gold_label,captionID,pairID,premise,hypothesis,label_count,label_dist
0,"['entailment', 'neutral', 'entailment', 'neutr...",neutral,4804607632.jpg#0,4804607632.jpg#0r1e,An older man sits with his orange juice at a s...,An elderly man sits in a small shop.,"[2, 3, 0]","[0.4, 0.6, 0.0]"
1,"['contradiction', 'contradiction', 'contradict...",contradiction,4804607632.jpg#2,4804607632.jpg#2r1c,"A few people in a restaurant setting, one of t...",The people are sitting at desks in school.,"[0, 0, 5]","[0.0, 0.0, 1.0]"
2,"['neutral', 'neutral', 'neutral', 'neutral', '...",neutral,4705552913.jpg#0,4705552913.jpg#0r1n,Two women who just had lunch hugging and sayin...,The friends have just met for the first time i...,"[0, 5, 0]","[0.0, 1.0, 0.0]"
3,"['entailment', 'entailment', 'entailment', 'en...",entailment,4705552913.jpg#3,4705552913.jpg#3r1e,"Two women, holding food carryout containers, hug.",Two women hug each other.,"[4, 0, 1]","[0.8, 0.0, 0.2]"
4,"['neutral', 'neutral', 'neutral', 'neutral', '...",neutral,3636329461.jpg#0,3636329461.jpg#0r1n,The school is having a special event in order ...,A high school is hosting an event.,"[1, 4, 0]","[0.2, 0.8, 0.0]"

In [15]:
mnli = pd.read_json('data/mnli/multinli_1.0_train.jsonl', lines=True)

In [16]:
mnli.head()

,annotator_labels,genre,gold_label,pairID,promptID,sentence1,sentence1_binary_parse,sentence1_parse,sentence2,sentence2_binary_parse,sentence2_parse
0,[neutral],government,neutral,31193n,31193,Conceptually cream skimming has two basic dime...,( ( Conceptually ( cream skimming ) ) ( ( has ...,(ROOT (S (NP (JJ Conceptually) (NN cream) (NN ...,Product and geography are what make cream skim...,( ( ( Product and ) geography ) ( ( are ( what...,(ROOT (S (NP (NN Product) (CC and) (NN geograp...
1,[entailment],telephone,entailment,101457e,101457,you know during the season and i guess at at y...,( you ( ( know ( during ( ( ( the season ) and...,(ROOT (S (NP (PRP you)) (VP (VBP know) (PP (IN...,You lose the things to the following level if ...,( You ( ( ( ( lose ( the things ) ) ( to ( the...,(ROOT (S (NP (PRP You)) (VP (VBP lose) (NP (DT...
2,[entailment],fiction,entailment,134793e,134793,One of our number will carry out your instruct...,( ( One ( of ( our number ) ) ) ( ( will ( ( (...,(ROOT (S (NP (NP (CD One)) (PP (IN of) (NP (PR...,A member of my team will execute your orders w...,( ( ( A member ) ( of ( my team ) ) ) ( ( will...,(ROOT (S (NP (NP (DT A) (NN member)) (PP (IN o...
3,[entailment],fiction,entailment,37397e,37397,How do you know? All this is their information...,( ( How ( ( ( do you ) know ) ? ) ) ( ( All th...,(ROOT (S (SBARQ (WHADVP (WRB How)) (SQ (VBP do...,This information belongs to them.,( ( This information ) ( ( belongs ( to them )...,(ROOT (S (NP (DT This) (NN information)) (VP (...
4,[neutral],telephone,neutral,50563n,50563,yeah i tell you what though if you go price so...,( yeah ( i ( ( tell you ) ( what ( ( though ( ...,(ROOT (S (VP (VB yeah) (S (NP (FW i)) (VP (VB ...,The tennis shoes have a range of prices.,( ( The ( tennis shoes ) ) ( ( have ( ( a rang...,(ROOT (S (NP (DT The) (NN tennis) (NNS shoes))...

In [6]:
cmnli = pd.read_json('data/chaosNLI/data/chaosNLI_v1.0/chaosNLI_mnli_m.jsonl', lines=True)

In [7]:
cmnli.head()

,uid,label_counter,majority_label,label_dist,label_count,entropy,example,old_label,old_labels
0,50830c,"{'c': 20, 'e': 12, 'n': 68}",n,"[0.12, 0.68, 0.2]","[12, 68, 20]",1.209800,"{'uid': '50830c', 'premise': 'um-hum um-hum ye...",n,"[contradiction, neutral, contradiction, neutra..."
1,20648n,"{'e': 48, 'n': 45, 'c': 7}",e,"[0.48, 0.45, 0.07]","[48, 45, 7]",1.295225,"{'uid': '20648n', 'premise': 'you want to punc...",n,"[neutral, neutral, contradiction, entailment, ..."
2,67610c,"{'c': 40, 'n': 12, 'e': 48}",e,"[0.48, 0.12, 0.4]","[48, 12, 40]",1.404107,"{'uid': '67610c', 'premise': 'Sorry but that's...",c,"[contradiction, contradiction, neutral, contra..."
3,47639c,"{'c': 52, 'n': 46, 'e': 2}",c,"[0.02, 0.46, 0.52]","[2, 46, 52]",1.118789,"{'uid': '47639c', 'premise': 'i'm not opposed ...",n,"[contradiction, neutral, contradiction, neutra..."
4,114458e,"{'e': 68, 'n': 29, 'c': 3}",e,"[0.68, 0.29, 0.03]","[68, 29, 3]",1.048018,"{'uid': '114458e', 'premise': 'Mortifyingly en...",e,"[entailment, neutral, entailment, neutral, ent..."

In [11]:
prepro = pd.read_csv('data/preprocessed/mnli_full.csv')
prepro1 = pd.read_csv('data/preprocessed/snli_full.csv')

In [13]:
pd.concat([prepro, prepro1], ignore_index=True)

,annotator_labels,gold_label,pairID,premise,hypothesis,label_count,label_dist,captionID
0,"['neutral', 'entailment', 'neutral', 'neutral'...",neutral,63735n,The new rights are nice enough,Everyone really likes the newest benefits,"[1, 4, 0]","[0.2, 0.8, 0.0]",NaN
1,"['contradiction', 'contradiction', 'contradict...",contradiction,91383c,This site includes a list of all award winners...,The Government Executive articles housed on th...,"[0, 0, 5]","[0.0, 0.0, 1.0]",NaN
2,"['entailment', 'entailment', 'entailment', 'en...",entailment,755e,uh i don't know i i have mixed emotions about ...,"I like him for the most part, but would still ...","[5, 0, 0]","[1.0, 0.0, 0.0]",NaN
3,"['contradiction', 'contradiction', 'contradict...",contradiction,78013c,yeah i i think my favorite restaurant is alway...,My favorite restaurants are always at least a ...,"[0, 0, 5]","[0.0, 0.0, 1.0]",NaN
4,"['contradiction', 'contradiction', 'contradict...",contradiction,96377c,i don't know um do you do a lot of camping,I know exactly.,"[0, 0, 5]","[0.0, 0.0, 1.0]",NaN
...,...,...,...,...,...,...,...,...
67837,"['contradiction', 'contradiction', 'contradict...",contradiction,4378810163.jpg#4r1c,Two women are observing something together.,Two women are standing with their eyes closed.,"[0, 0, 5]","[0.0, 0.0, 1.0]",4378810163.jpg#4
67838,"['entailment', 'entailment', 'entailment', 'co...",entailment,4378810163.jpg#4r1e,Two women are observing something together.,Two girls are looking at something.,"[4, 0, 1]","[0.8, 0.0, 0.2]",4378810163.jpg#4
67839,"['contradiction', 'contradiction', 'contradict...",contradiction,152881593.jpg#1r1c,A man in a black leather jacket and a book in ...,A man is flying a kite.,"[0, 0, 5]","[0.0, 0.0, 1.0]",152881593.jpg#1
67840,"['entailment', 'entailment', 'entailment', 'ne...",entailment,152881593.jpg#1r1e,A man in a black leather jacket and a book in ...,A man is speaking in a classroom.,"[4, 1, 0]","[0.8, 0.2, 0.0]",152881593.jpg#1
67841,"['neutral', 'neutral', 'neutral', 'neutral', '...",neutral,152881593.jpg#1r1n,A man in a black leather jacket and a book in ...,A man is teaching science in a classroom.,"[0, 5, 0]","[0.0, 1.0, 0.0]",152881593.jpg#1

In [9]:
prepro.head()

,annotator_labels,gold_label,pairID,premise,hypothesis,label_count,label_dist
0,"['contradiction', 'contradiction', 'contradict...",contradiction,75290c,Your contribution helped make it possible for ...,Your contributions were of no help with our st...,"[0, 0, 5]","[0.0, 0.0, 1.0]"
1,"['contradiction', 'contradiction', 'contradict...",contradiction,133794c,"The answer has nothing to do with their cause,...",Dictionaries are indeed exercises in bi-unique...,"[0, 0, 5]","[0.0, 0.0, 1.0]"
2,"['contradiction', 'neutral', 'entailment', 'en...",entailment,3628c,We serve a classic Tuscan meal that includes ...,We serve a meal of Florentine terrine.,"[3, 1, 1]","[0.6, 0.2, 0.2]"
3,"['contradiction', 'contradiction', 'contradict...",contradiction,89411c,"A few months ago, Carl Newton and I wrote a le...",Carl Newton and I have never had any other pre...,"[0, 0, 5]","[0.0, 0.0, 1.0]"
4,"['entailment', 'entailment', 'entailment', 'en...",entailment,136158e,"I was on this earth you know, I've lived on th...",I don't yet know the reason why I have lived o...,"[5, 0, 0]","[1.0, 0.0, 0.0]"

In [22]:
temp = mnli.merge(cmnli, how='left', left_on=['pairID'], right_on=['uid'], indicator=True)

In [23]:
temp[temp['_merge'] == 'left_only']

,annotator_labels,genre,gold_label,pairID,promptID,sentence1,sentence1_binary_parse,sentence1_parse,sentence2,sentence2_binary_parse,...,uid,label_counter,majority_label,label_dist,label_count,entropy,example,old_label,old_labels,_merge
0,[neutral],government,neutral,31193n,31193,Conceptually cream skimming has two basic dime...,( ( Conceptually ( cream skimming ) ) ( ( has ...,(ROOT (S (NP (JJ Conceptually) (NN cream) (NN ...,Product and geography are what make cream skim...,( ( ( Product and ) geography ) ( ( are ( what...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,[entailment],telephone,entailment,101457e,101457,you know during the season and i guess at at y...,( you ( ( know ( during ( ( ( the season ) and...,(ROOT (S (NP (PRP you)) (VP (VBP know) (PP (IN...,You lose the things to the following level if ...,( You ( ( ( ( lose ( the things ) ) ( to ( the...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,[entailment],fiction,entailment,134793e,134793,One of our number will carry out your instruct...,( ( One ( of ( our number ) ) ) ( ( will ( ( (...,(ROOT (S (NP (NP (CD One)) (PP (IN of) (NP (PR...,A member of my team will execute your orders w...,( ( ( A member ) ( of ( my team ) ) ) ( ( will...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,[entailment],fiction,entailment,37397e,37397,How do you know? All this is their information...,( ( How ( ( ( do you ) know ) ? ) ) ( ( All th...,(ROOT (S (SBARQ (WHADVP (WRB How)) (SQ (VBP do...,This information belongs to them.,( ( This information ) ( ( belongs ( to them )...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,[neutral],telephone,neutral,50563n,50563,yeah i tell you what though if you go price so...,( yeah ( i ( ( tell you ) ( what ( ( though ( ...,(ROOT (S (VP (VB yeah) (S (NP (FW i)) (VP (VB ...,The tennis shoes have a range of prices.,( ( The ( tennis shoes ) ) ( ( have ( ( a rang...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392697,[contradiction],government,contradiction,30418c,30418,"Clearly, California can - and must - do better.","( Clearly ( , ( California ( ( ( can ( - ( and...","(ROOT (S (ADVP (RB Clearly)) (, ,) (NP (NNP Ca...",California cannot do any better.,( California ( ( ( can not ) ( do ( any better...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
392698,[neutral],travel,neutral,105454n,105454,It was once regarded as the most beautiful str...,( It ( ( ( was once ) ( regarded ( as ( ( the ...,(ROOT (S (NP (PRP It)) (VP (VBD was) (ADVP (RB...,So many of the original buildings had been rep...,( So ( ( many ( of ( the ( original buildings ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
392699,[entailment],travel,entailment,13960e,13960,Houseboats are a beautifully preserved traditi...,( Houseboats ( ( are ( ( a ( ( beautifully pre...,(ROOT (S (NP (NNS Houseboats)) (VP (VBP are) (...,The tradition of houseboats originated while t...,( ( ( The tradition ) ( of houseboats ) ) ( ( ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
392700,[neutral],slate,neutral,114061n,114061,Obituaries fondly recalled his on-air debates ...,( Obituaries ( fondly ( ( ( ( recalled ( his (...,(ROOT (S (NP (NNS Obituaries)) (ADVP (RB fondl...,The obituaries were beautiful and written in k...,( ( The obituaries ) ( ( were ( ( beautiful an...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
392701,[neutral],telephone,neutral,2065n,2065,in that other you know uh that i should do it ...,( ( ( ( in ( that other ) ) ( you ( know ( uh ...,(ROOT (SBAR (SBAR (WHPP (IN in) (WHNP (WDT tha...,My husband has been so overworked lately that ...,( ( My husband ) ( ( has ( ( been ( so overwor...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only